#container{
  margin: 0px auto;
  width: 800px;
}

.inp{
  display:block;
  max-width:300px;
  margin-bottom:15px;
}

textarea{
  resize:vertical;
}

body {
  padding: 1em;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #b9b9b9;
  background-color: #e3e3e3;
}

.jumbotron{
  background-color:#A4DEF8 !important;
  border-style:dotted  !important;
}